In [59]:
import numpy as np
import pandas as pd

In [60]:
#Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data

laliga = pd.read_csv('Laliga.csv', skiprows=1)
print(laliga.head(2))

#Replace all the '-' values to comprise of 0
laliga.replace(to_replace='-', value=0, inplace=True)
laliga.head(10)

   Pos         Team  Seasons Points GamesPlayed GamesWon GamesDrawn GamesLost  \
0    1  Real Madrid       86   4385        2762     1647        552       563
1    2    Barcelona       86   4262        2762     1581        573       608

  GoalsFor GoalsAgainst Champion Runner-up Third Fourth Fifth Sixth   T Debut  \
0     5947         3140       33        23     8      8     3     4  79  1929
1     5900         3114       25        25    12     12     4     6  83  1929

  Since/LastApp  BestPosition
0          1929             1
1          1929             1

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,16,1929,1994-95,3
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939-40,2012-13,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,14,1932-33,2015-16,1

In [61]:
#Print all the teams which have started playing between 1930-1980
laliga[laliga['Debut'].between('1930','1980',inclusive=True)][['Team', 'Debut']]

                   Team    Debut
3              Valencia  1931-32
5               Sevilla  1934-35
8              Zaragoza  1939-40
9            Real Betis  1932-33
10  Deportivo La Coruna  1941-42
11           Celta Vigo  1939-40
12           Valladolid  1948-49
14       Sporting Gijon  1944-45
15              Osasuna  1935-36
16               Malaga  1949-50
17               Oviedo  1933-34
18             Mallorca  1960-61
19           Las Palmas  1951-52
21              Granada  1941-42
22       Rayo Vallecano  1977-78
23                Elche  1959-60
25             Hercules  1935-36
26             Tenerife  1961-62
27               Murcia  1940-41
28               Alaves  1930-31
29              Levante  1963-64
30            Salamanca  1974-75
31             Sabadell  1943-44
32                Cadiz  1977-78
34            Castellon  1941-42
37              Cordoba  1962-63
39           Recreativo  1978-79
40            Burgos CF  1971-72
41           Pontevedra  1963-64
46            Gimnastic  1947-48
49             Alcoyano  1945-46
50                 Jaen  1953-54
52           AD Almeria  1979-80
54               Lleida  1950-51
57               Condal  1956-57
58      Atletico Tetuan  1951-52
59     Cultural Leonesa  1955-56

# Print the list of teams which came Top 5 in terms of points

In [62]:
#### Print the list of teams which came Top 5 in terms of points

laliga['Points'] = laliga['Points'].astype('int') #To convert Object to int type
print(laliga.sort_values('Points', ascending=False).head(5)[['Points', 'Team']])

   Points             Team
0    4385      Real Madrid
1    4262        Barcelona
2    3442  Atletico Madrid
3    3386         Valencia
4    3368  Athletic Bilbao

In [65]:
#Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. 
#Using the same function, find the team which has maximum and minimum goal difference.

# Approach 1 using a single method to compute goal difference and to find the MAX and MIN

def Goal_diff_count(team, goals_for, goals_against):
    #Store the goal difference of each team in a dictionary
    team_data = dict()
    for element in range(0, len(list(team))):
        goals_diff = goals_for[element] - goals_against[element]
        team_data[team[element]] = goals_diff
    max_v = max(zip(team_data.values(), team_data.keys()))
    min_v = min(zip(team_data.values(), team_data.keys()))
    print("Max goal difference : {}\n".format(max_v))
    print("Min goal difference : {}\n".format(min_v))
    return team_data

all_team_data = Goal_diff_count(list(laliga['Team']), list(laliga['GoalsFor'].astype('int')), list(laliga['GoalsAgainst'].astype('int')))
print("All team goal difference details :\n{}".format(all_team_data))

Max goal difference : (2807, 'Real Madrid')

Min goal difference : (-525, 'Racing Santander')

All team goal difference details :
{'Real Madrid': 2807, 'Barcelona': 2786, 'Atletico Madrid': 1225, 'Valencia': 929, 'Athletic Bilbao': 931, 'Sevilla': 307, 'Espanyol': -280, 'Real Sociedad': -2, 'Zaragoza': -164, 'Real Betis': -333, 'Deportivo La Coruna': -136, 'Celta Vigo': -346, 'Valladolid': -413, 'Racing Santander': -525, 'Sporting Gijon': -399, 'Osasuna': -334, 'Malaga': -342, 'Oviedo': -309, 'Mallorca': -189, 'Las Palmas': -399, 'Villarreal': 103, 'Granada': -338, 'Rayo Vallecano': -328, 'Elche': -272, 'Getafe': -113, 'Hercules': -334, 'Tenerife': -125, 'Murcia': -385, 'Alaves': -165, 'Levante': -202, 'Salamanca': -159, 'Sabadell': -228, 'Cadiz': -269, 'Logrones': -198, 'Castellon': -169, 'Albacete': -90, 'Almeria': -122, 'Cordoba': -145, 'Compostela': -42, 'Recreativo': -94, 'Burgos CF': -94, 'Pontevedra': -56, 'Numancia': -98, 'Eibar': -28, 'Arenas': -81, 'Real Burgos': -38, 'Gimnastic': -114, 'Extremadura': -55, 'Merida': -45, 'Alcoyano': -107, 'Jaen': -62, 'Real Union': -31, 'AD Almeria': -45, 'Europa': -34, 'Lleida': -112, 'Leganes': -19, 'Xerez': -28, 'Condal': -20, 'Atletico Tetuan': -34, 'Cultural Leonesa': -31, 'Girona': 0}

In [71]:
#Approach 2: To create a new column and store the goal difference, later find the max and min from that column(by using sort)

def goal_difference(goals_for, goals_against):
    goals_difference = goals_for - goals_against
    return goals_difference

laliga['goal_difference'] = goal_difference(laliga['GoalsFor'].astype('int'), laliga['GoalsAgainst'].astype('int'))

print(laliga[['Team', 'goal_difference']])

value = laliga.sort_values(by='goal_difference', ascending=False)[['Team', 'goal_difference']]
print("Max goal difference : {}".format(value.head(1)))
print("Min goal difference : {}".format(value.tail(1)))

                   Team  goal_difference
0           Real Madrid             2807
1             Barcelona             2786
2       Atletico Madrid             1225
3              Valencia              929
4       Athletic Bilbao              931
5               Sevilla              307
6              Espanyol             -280
7         Real Sociedad               -2
8              Zaragoza             -164
9            Real Betis             -333
10  Deportivo La Coruna             -136
11           Celta Vigo             -346
12           Valladolid             -413
13     Racing Santander             -525
14       Sporting Gijon             -399
15              Osasuna             -334
16               Malaga             -342
17               Oviedo             -309
18             Mallorca             -189
19           Las Palmas             -399
20           Villarreal              103
21              Granada             -338
22       Rayo Vallecano             -328
23                Elche             -272
24               Getafe             -113
25             Hercules             -334
26             Tenerife             -125
27               Murcia             -385
28               Alaves             -165
29              Levante             -202
..                  ...              ...
31             Sabadell             -228
32                Cadiz             -269
33             Logrones             -198
34            Castellon             -169
35             Albacete              -90
36              Almeria             -122
37              Cordoba             -145
38           Compostela              -42
39           Recreativo              -94
40            Burgos CF              -94
41           Pontevedra              -56
42             Numancia              -98
43                Eibar              -28
44               Arenas              -81
45          Real Burgos              -38
46            Gimnastic             -114
47          Extremadura              -55
48               Merida              -45
49             Alcoyano             -107
50                 Jaen              -62
51           Real Union              -31
52           AD Almeria              -45
53               Europa              -34
54               Lleida             -112
55              Leganes              -19
56                Xerez              -28
57               Condal              -20
58      Atletico Tetuan              -34
59     Cultural Leonesa              -31
60               Girona                0

[61 rows x 2 columns]
Max goal difference :           Team  goal_difference
0  Real Madrid             2807
Min goal difference :                 Team  goal_difference
13  Racing Santander             -525

##### Create a new column with name “Winning Percent” and append it to the data set (5 points)

In [70]:
#Create a new column to compute winning Percent for each row
laliga['Winning Percent'] = round(((laliga['GamesWon'].astype('int') / laliga['GamesPlayed'].astype('int')) * 100), 4)

# Replace the Numerical errors with 0%
laliga['Winning Percent'].fillna(value=0, inplace=True)

#Find out the top 5 teams having the highest Winning percentage
laliga.sort_values(by='Winning Percent', ascending=False).head(5)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,goal_difference,Winning Percent
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,8,8,3,4,79,1929,1929,1,2807,59.6307
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,12,12,4,6,83,1929,1929,1,2786,57.2411
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,16,9,7,6,56,1929,2002-03,1,1225,47.4751
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,10,11,10,7,50,1931-32,1987-88,1,929,44.5571
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,10,5,8,10,49,1929,1929,1,931,43.7726

### Group teams based on their “Best position” and print the sum of their points for all positions (5 points)

In [57]:
#use aggregate function to find the sum of Points for each Best Position 
laliga.groupby(['BestPosition'])['Points'].agg('sum')

BestPosition
1     27933
2      6904
3      5221
4      6563
5      1884
6      2113
7      1186
8      1134
9        96
10      450
11      445
12      511
14       71
15       14
16       81
17      266
19       81
20       34
Name: Points, dtype: int64